@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

#background {
	background: linear-gradient(135deg, rgba(215, 210, 204, 0.3) 0%, rgba(48, 67, 82, 0.3) 100%) no-repeat center center fixed, 
	url("./img/background.jfif") no-repeat center center fixed;
	background-size: 100% 100%;
	color: #FFF;
	}

.padding-top-bottom {
	padding: 10rem 0;
}

section {
	padding: 10rem 0 5rem 0;
}

.card a {
	text-decoration: none;
	color: #000;
}

.text-white {
	color: white;
}

/* Side Cart */
@media screen and (min-width: 992px){
	.side-cart {
		position: sticky;
		top: 15%;
	}
}
.side-cart, .checkout-container {
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .8); 
	padding: 5rem 2rem;
}

/* Form */
form {
	margin: 1.6rem 0;
}

.form-container {
	width: 30%;
	padding: 3.2rem 1.6rem;
	opacity: 0.8;
	background: #536976;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #536976, #292E49);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #536976, #292E49); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .8); 
}

.btn {
	background-color: #42226d;
	border: none;
	padding: .8rem 1.6rem;
	margin: .5rem 0;
}

.remove-btn, .del-comment-btn {
	background-color: #42226d;
	padding: .2rem .5rem;
}

.btn:hover, .remove-btn:hover, .del-comment-btn:hover {
	background-color: #6E48AA;
}

.remove-btn > span, .del-comment-btn {
	color: #FFFFFF;
}

.text-input {
	color: #FFFFFF;
	width: 100%;
	border-radius: .2rem;
	padding: 1rem;
	margin: .5rem 0;
	border: none;
	background-color: rgba(0, 0, 0, .2);
}

.text-input-white {
	color: #000;
	background-color: #FFF;
	border: solid .1rem #ccc;
}

input:hover {
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .8); 
}

input:disabled {
  box-shadow: none;
}

.form-control:focus {
	background-color: rgba(0, 0, 0, .2);
	color: #FFF;
	box-shadow: none;
	border: solid .05rem white;
}

/* Donation */
input[type="radio"] {
	  display: none;
}

input[type="radio"]:checked+.radio-label {
	background-color: #42226d;
}

.radio-label {
	border: solid .1rem;
	border-radius: .2rem;
	width: 30%;
	padding: 1.4rem 0;
	margin: 1.2rem;
	cursor: pointer;
}

.radio-label:hover {
	transform: scale(1.1);
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}


/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

body{
	font-family: Verdana, sans-serif;
}
.navbar{
	background-color: #1A1A1A;
	padding: 1rem;
}
.navbar-brand{
	color: #a8acb9;
}
.navbar-brand:hover{
	color: #a8acb9;
}
.nav-link{
	color: #a8acb9;
}
.nav-link:hover{
	color: #FFF;
}
footer{
	
	bottom: 0;
	background-color: #1A1A1A;
	color: #d5d5d5;
	padding-top: 2rem;
}
footer a{
	color: #d5d5d5;
}
.card-img-top{
	width: 100%;
	height: 30vh;
	object-fit: cover;	
}
.jumbotron{
	padding: 1rem;
	border-radius: 0;
}
.padding{
	padding-bottom: 2rem;
}
.pos-center{
	height: 100%;
	top: 50%;
}
.OrderHeader{
	padding-left: 1rem;
	font-size: 2rem;
}
.card .row div .cardContent{
	padding-left: 1.6rem;
}
.card .row div .cardContent a{
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: .9rem;
}
.shadow{
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.margin{
	margin: 6px;
}
.OrderTotal{
	font-size:1.5rem;
	padding: 0px;
}
.donation{
	transform: translateX(50%);
	margin-top: 1rem;
	width: 50vw;
	padding: 1rem;
}
.donation-container{
	position: relative;
}
.totalDonation{
	font-size: 2.8rem;
}
.AdminManageHeader{
	font-size: 1.2rem;
	padding-bottom: 2rem;
}
.nav-link-1{
	color: #3f3f3f;
	padding: 1rem;
}
.nav-link-1:hover{
	color: #d5d5d5;
}